<ion-header>
    <ion-toolbar>
      <ion-title>Quem somos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text>
  
  <div class="texto">
      A Igreja Contemplados é uma ramificação da Igreja Contemplados que foi fundada no Japão em 1901, pelo pastor Juji Nakada e pelo missionário Charles Cowman. No Brasil, ela chegou em 1925, quando missionários e leigos da Igreja Contemplados do Japão se estabeleceram em São Paulo. A principal figura desse grupo foi o pastor Takeo Monobe, que percorreu quase todas as cidades, colônias e fazendas do interior do estado, onde havia imigrantes japoneses, para falar da salvação em Jesus Cristo.
  <p></p>
      Quase dez anos depois, em 1934, a Igreja Contemplados do Brasil estabeleceu-se como uma igreja independente, prosseguindo em sua missão de evangelizar principalmente os japoneses aqui estabelecidos.
      <p></p>
  
      Hoje, está presente em nove estados brasileiros e no exterior, além de manter missionários no Peru, Japão, nordeste brasileiro e alguns países do Oriente.
      <p></p>
      
      O objetivo da Igreja Contemplados do Brasil é anunciar o Evangelho de Jesus Cristo com fidelidade a todas as pessoas, como fizeram os primeiros apóstolos. 
      
      
  
    </div>  
  
    <ion-item lines="none">
      <ion-button type="reset" color="danger" routerLink="/tabs/listTela">Inicio</ion-button> 
    </ion-item>
  
  
  </ion-text>
  
  
  <ion-content>
  
  </ion-content>
  