<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Noticias</ion-card-subtitle>
    <ion-card-title>Culto da Virada</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-card>
  <img class="logo1" src="https://imgur.com/jvSpdz5.png">
</ion-card>
<ion-card>
  <ion-card-content class="texto">
    Neste ano de 2019, reforçamos o que é fazer a diferença seguindo os passos do maior exemplo que podemos ter: Jesus Cristo!
    Em 2020, vamos elevar o nosso nível de adoração e intimidade com o autor da nossa fé, para que assim, possamos alcançar
    patamares inimagináveis de vitórias e conquistas para o povo de Deus!
    <br> __
    <br> Culto da Virada
    <br> Dia 31/12 às 22h
    <br> Rua Contemplados, 123 - Contemplados
  </ion-card-content>
  <ion-item>
    <ion-button type="reset" color="danger" routerLink="/tabs/listTela">Inicio</ion-button>
  </ion-item>
</ion-card>