<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Noticias</ion-card-subtitle>
      <ion-card-title>Jornada Bíblica e Oração</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <img class="logo1" src="https://imgur.com/9V0mTYK.png">
  </ion-card>
  <ion-card>
    <ion-card-content class="texto">
        <br>
        "Com todo o meu coração te busquei; não me deixes desviar dos teus mandamentos. Escondi a tua palavra no meu coração, para eu não pecar contra ti." Salmos 119:10,11
<br>__<br>
Nos dias 07,08 e 09 estaremos celebrando o Dia Nacional da Bíblia com a jornada de 72h de leitura bíblica e oração pelo Brasil.
jornada de 72h de leitura bíblica e oração pelo Brasil
        <br>#SomosUm
    </ion-card-content>
    <ion-item>
      <ion-button type="reset" color="danger" routerLink="/tabs/listTela">Inicio</ion-button>
    </ion-item>
  </ion-card>