.logo1{
    margin-left: 25px;
}
.logo2{
    margin-left: 43px;
}
.logo3{
    margin-left: 10px;
}
.logo6{
    margin-left: 40px;
}
.fonte{
    
    font-size: 5
}
ion-content{
   --ion-background-color: #ffffff;
}
ion-header{
    --ion-background-color: #1a1a00;
}

