<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Noticias</ion-card-subtitle>
    <ion-card-title>Ano de Buscar mais a Deus</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-card>
  <img class="logo1" src="https://imgur.com/CKgi2LD.png">
</ion-card>
<ion-card>
  <ion-card-content class="texto">
    No ano de 2018, manifestamos a nossa fé. Em 2019, vamos elevar o nosso nível de intimidade buscando mais a Deus, para que
    assim, possamos alcançar patamares inimagináveis e coisas extraordinárias para a nossa vida. Precisamos buscar o Senhor
    de todo o nosso coração e alma. Deus tem grandes revelações e coisas maravilhosas para fazer em nossa vida, mas precisamos
    nos aproximar dele.
    <br> __
    <br>Use a Hashtag #BuscarMaisADeus
  </ion-card-content>
  <ion-item>
    <ion-button type="reset" color="danger" routerLink="/tabs/listTela">Inicio</ion-button>
  </ion-item>
</ion-card>