<ion-header>
  <ion-toolbar>
    <ion-title>Programação da Igreja</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="texto" src="assets/p1.png" alt="">
  <ion-text>
    <div class="texto">
      A Sede Contemplados está aberta todos os dias e 24h. Você pode comparecer o dia e o horário que desejar, aqui há a Palavra
      de Deus para iluminar todos os momentos de sua vida: “Lâmpada para os pés é a Tua Palavra e luz para o meu caminho”
      (Salmos 119.105).
    </div>
    <ion-item>
      <ion-button class="buttom" type="reset" color="danger" routerLink="/tabs/listTela">Inicio</ion-button>
    </ion-item>
  </ion-text>
</ion-content>